@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@import 'swiper/css/bundle';

@theme {
  /* --breakpoint-*: initial; */
  --breakpoint-3xs: 16rem; /* 256px */
  --breakpoint-2xs: 18rem; /* 288px */
  --breakpoint-xs: 20rem; /* 320px */
  --breakpoint-sm: 24rem; /* 384px */
  --breakpoint-md: 28rem; /* 448px */
  --breakpoint-lg: 32rem; /* 512px */
  --breakpoint-xl: 36rem; /* 576px */
  --breakpoint-2xl: 42rem; /* 672px */
  --breakpoint-3xl: 48rem; /* 768px */
  --breakpoint-4xl: 56rem; /* 896px */
  --breakpoint-5xl: 64rem; /* 1024px */
  --breakpoint-6xl: 72rem; /* 1152px */
  --breakpoint-7xl: 80rem; /* 1280px */
  --breakpoint-8xl: 88rem; /* 1600px */
}

.feature_slider_pagination {
  @apply flex justify-center items-center gap-1 absolute bottom-18!;
}

.custom-bullet {
  @apply size-3 bg-white opacity-100 rounded-full inline-block transition-all duration-300 ease-in-out;
}

.custom-bullet.swiper-pagination-bullet-active {
  @apply w-10! h-3 rounded-full bg-[#FFB29C];
}

.dropdown-menu {
  @apply absolute hidden bg-[#F6FAF8] shadow-md w-48 mt-6 left-0 transition-all duration-300 opacity-0 transform scale-95;
}

.dropdown-menu.active {
  @apply block opacity-100 scale-100;
}

.dropdown-item {
  @apply block px-4 py-2 hover:bg-gray-100 border-b border-gray-300;
}
/* Mobile dropdown */
.dropdown-mobile {
  @apply hidden transition-all duration-300;
}

.dropdown-mobile.active {
  @apply block;
}

.dropdown-ite-mob {
  @apply block py-2 text-gray-300 hover:bg-gray-100;
}
